# =====================================================
# Identity Service
# =====================================================

# Nom de l'application
spring.application.name=identity-service

# =====================================================
# Serveur HTTP
# =====================================================

# En local : 8081
# Dans Docker Compose : SERVER_PORT=8081
server.port=${SERVER_PORT:8081}

# =====================================================
# Base de données MySQL
# =====================================================

# En local, le service utilise localhost.
# Dans Docker Compose, cette valeur est remplacée par :
# jdbc:mysql://identity-db:3306/identity_db?...
spring.datasource.url=${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3306/milk_identity_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC}

# En local : root/root
# Dans Docker Compose : milkcenter/milkcenter_password
spring.datasource.username=${SPRING_DATASOURCE_USERNAME:*****}
spring.datasource.password=${SPRING_DATASOURCE_PASSWORD:*****}

# =====================================================
# Hibernate / JPA
# =====================================================

spring.jpa.hibernate.ddl-auto=${SPRING_JPA_HIBERNATE_DDL_AUTO:update}
spring.jpa.show-sql=${SPRING_JPA_SHOW_SQL:true}
spring.jpa.properties.hibernate.dialect=${SPRING_JPA_DIALECT:org.hibernate.dialect.MySQLDialect}

# =====================================================
# JWT
# =====================================================

# En production, il est préférable de fournir JWT_SECRET
# dans Docker Compose plutôt que de conserver le secret en clair.
jwt.secret=${JWT_SECRET:5367566B59703373367639792F423F4528482B4D6251655468576D5A71347437}

# =====================================================
# Eureka Discovery Server
# =====================================================

# En local : http://localhost:8761/eureka/
# Dans Docker Compose : http://discovery-server:8761/eureka/
eureka.client.service-url.defaultZone=${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:8761/eureka/}
eureka.client.register-with-eureka=${EUREKA_CLIENT_REGISTER_WITH_EUREKA:true}
eureka.client.fetch-registry=${EUREKA_CLIENT_FETCH_REGISTRY:true}

# En local : localhost
# Dans Docker Compose : discovery-server
# Ne forcez pas 127.0.0.1 dans le conteneur.
eureka.instance.hostname=${EUREKA_INSTANCE_HOSTNAME:localhost}
eureka.instance.prefer-ip-address=${EUREKA_INSTANCE_PREFER_IP_ADDRESS:false}

# =====================================================
# OAuth2 Resource Server - validation des tokens reçus
# =====================================================

spring.security.oauth2.resourceserver.jwt.issuer-uri=${OAUTH2_ISSUER_URI:http://localhost:8080/realms/milkcenter}

# =====================================================
# OAuth2 Client - appels sortants de identity-service
# =====================================================
spring.security.oauth2.client.registration.service-client.provider=keycloak
spring.security.oauth2.client.registration.service-client.client-id=${OAUTH2_CLIENT_ID:milkcenter-identity-service}
spring.security.oauth2.client.registration.service-client.client-secret=${OAUTH2_CLIENT_SECRET:MqCjN3OrsE9HZRenFbJBnnc3kwQi7SIU}
spring.security.oauth2.client.registration.service-client.authorization-grant-type=client_credentials
spring.security.oauth2.client.registration.service-client.scope=milkcenter.read

spring.security.oauth2.client.provider.keycloak.token-uri=${OAUTH2_TOKEN_URI:http://localhost:8080/realms/milkcenter/protocol/openid-connect/token}


# =====================================================
# OAuth2 pour OpenFeign
# =====================================================
spring.cloud.openfeign.oauth2.enabled=true
spring.cloud.openfeign.oauth2.client-registration-id=service-client

# =====================================================
# Client OAuth2 pour l'administration Keycloak
# =====================================================
spring.security.oauth2.client.registration.keycloak-admin.provider=keycloak
spring.security.oauth2.client.registration.keycloak-admin.client-id=${OAUTH2_CLIENT_ID:milkcenter-identity-service}
spring.security.oauth2.client.registration.keycloak-admin.client-secret=${OAUTH2_CLIENT_SECRET:**********************}
spring.security.oauth2.client.registration.keycloak-admin.authorization-grant-type=client_credentials
spring.security.oauth2.client.registration.keycloak-admin.scope=openid


# URL de base de l'API d'administration Keycloak
keycloak.admin.base-url=${KEYCLOAK_ADMIN_BASE_URL:http://localhost:8080/admin/realms/milkcenter}

# Client utilisateur Keycloak
keycloak.oidc.client-id=milkcenter-user-client
keycloak.oidc.client-secret=${KEYCLOAK_USER_CLIENT_SECRET:}

# Endpoint de génération des tokens
keycloak.oidc.token-uri=http://localhost:8080/realms/milkcenter/protocol/openid-connect/token

# Endpoint de révocation du refresh token
keycloak.oidc.logout-uri=http://localhost:8080/realms/milkcenter/protocol/openid-connect/logout


